root { 
    display: block;
}
.centered {
    text-align: center;
}
.sansSerif{
    font-family: sans-serif;
    color: blueviolet;
    border-color: black;
    border-style:solid;
}

p {
    font-family: verdana;
    font-size: 20px;
}

body {
    background-color: lightblue;
}

h1 {
    color: blueviolet;
    text-align: center;
    font-size: 40px;
    background-color: tomato;
    border-color: black;
    border-style:solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: tomato;
    padding: 10px;
    text-align: center;
    color: blueviolet;
    border-color: black;
    border-style:solid;
}

main {
    background-color: darkcyan;
    margin: auto;
    width: 80%;   
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

table{
    border-collapse: collapse;    
}
